<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar Output Calculator</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'solar_calculator/styles.css' %}">
</head>

<body>
    <h1>Solar Output Calculator</h1>
    <h2>North-East India</h2>
    <form>
        <input name="address" placeholder="Your Address">
        <br>
        <hr>
        <input type="number" placeholder="Latitude" step="0.0001" min="21.6" max="29.2">
        <br>
        <input type="number" placeholder="Longitude" step="0.0001" min="88.0" max="97.4">
        <br>
        <button type="submit">Calculate</button>

    </form>
</body>

</html>
