<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar roof</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-[1320] h-[400px] bg-gradient-to-r from-[#5151db] to-[#d820b0]">
    <div class="grid grid-cols-6 gap-2  mx-auto h-full">
        <div class="col-span-6 border-[2px] h-[320px] text-center rounded-lg bg-[white]">
          <h1>Map</h1>
        </div>
        <div
          class="col-span-1 border-[2px] h-[200px] rounded-lg flex flex-col gap-4 p-3 text-center bg-[white]"
        >
          <h1>DHI</h1>
          <h1>DNI</h1>
          <h1>OPTIMUM TILT ANGLE</h1>
        </div>
        <div
          class="col-span-1 border-[2px] h-[200px] rounded-lg flex flex-col gap-4 p-3 text-center bg-[white]"
        >
          <h1>Area of roof</h1>
          <h1>Efficiency drop down</h1>
          <h1>% roof area</h1>
        </div>
        <div
          class="col-span-1 border-[2px] h-[200px] rounded-lg flex flex-col gap-4 p-3 text-center bg-[white]"
        >
          <h1 class="font-bold">SOLAR ENERGY PER</h1>
          <h1>Day</h1>
          <h1>Month</h1>
          <h1>Year</h1>
        </div>
        <div
          class="col-start-4 col-end-7 border-[2px] row-span-1 h-[200px] rounded-lg text-center p-8  bg-[white]"
        >
          <h1>GRAPH</h1>
          
        </div>
        <div
          class="col-start-1 col-end-7 border-[2px] h-[150px] rounded-lg  text-center p-16 bg-[white]"
        >
          <h1>OFF GRID / ON GRID</h1>
        </div>
      </div>
    
</body> 
</html>
