<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar roof</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-[1320] h-[400px] bg-gradient-to-r from-[#5151db] to-[#d820b0]">
    <div class="grid grid-cols-6 gap-2 grid-row-6 mx-auto h-full">
        <div class="col-span-3 border-[2px] h-[540px] rounded-lg">kunal kumar</div>
        <div class="col-span-1 border-[2px] h-[170px] rounded-lg">kunal kumar</div>
        <div class="col-span-1 border-[2px] h-[170px] rounded-lg">kunal kumar</div>
        <div class="col-span-1 border-[2px] h-[170px] rounded-lg">kunal kumar</div>
        <div class="col-start-4 col-end-7 border-[2px] row-span-1 h-[200px] rounded-lg   relative bottom-[365px]">kunal kumar</div>
        <div class="col-start-4 col-end-7 border-[2px] h-[150px] rounded-lg  relative bottom-[365px]">kunal kumar</div>
    </div>
    
</body> 
</html>
