<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar roof</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-[1320] h-[400px] bg-gradient-to-r from-[#5151db] to-[#d820b0]">
    <div class="grid grid-cols-6 gap-2 grid-row-6 mx-auto h-full">
        <div class="col-span-3 border-[2px] h-[540px] text-center rounded-lg bg-[#2b2bd3]">
          <h1>Map</h1>
        </div>
        <div
          class="col-span-1 border-[2px] h-[170px] rounded-lg flex flex-col gap-4 p-3 text-center bg-[#2b2bd3]"
        >
          <h1>DHI</h1>
          <h1>DNI</h1>
          <h1>OPTIMUM TILT ANGLE</h1>
        </div>
        <div
          class="col-span-1 border-[2px] h-[170px] rounded-lg flex flex-col gap-4 p-3 text-center bg-[#2b2bd3]"
        >
          <h1>Area of roof</h1>
          <h1>Efficiency drop down</h1>
          <h1>% roof area</h1>
        </div>
        <div
          class="col-span-1 border-[2px] h-[170px] rounded-lg flex flex-col gap-4 p-3 text-center bg-[#2b2bd3]"
        >
          <h1 class="font-bold">SOLAR ENERGY PER</h1>
          <h1>Day</h1>
          <h1>Month</h1>
          <h1>Year</h1>
        </div>
        <div
          class="col-start-4 col-end-7 border-[2px] row-span-1 h-[200px] rounded-lg text-center p-8 relative bottom-[365px] bg-[#2b2bd3]"
        >
          <h1>GRAPH</h1>
          <div class="relative top-[100px] flex flex-row justify-between">
            <button class="w-[60px] text-center h-[30px] hover:bg-sky-700 hover:scale-90 border-[1px] rounded-lg">DNI</button>
            <button class="w-[60px] text-center h-[30px] hover:bg-sky-700 hover:scale-90 border-[1px] rounded-lg">DHI</button>
            <button class="w-[60px] text-center h-[30px] hover:bg-sky-700 hover:scale-90 border-[1px] rounded-lg">GHI</button>
          </div>
        </div>
        <div
          class="col-start-4 col-end-7 border-[2px] h-[150px] rounded-lg relative bottom-[365px] text-center p-16 bg-[#2b2bd3]"
        >
          <h1>OFF GRID / ON GRID</h1>
        </div>
      </div>
    
</body> 
</html>
